
    *****************************************************
    Programmer:    Adeyemi Adedoyin Simeon
    Version:       1.0
    Contact:       adeyemi.sa1@gmail.com, +2348064555381
    Github:        https://github.com/SimeonDee
    Location:      Offa, Kwara State, Nigeria
    Date:          12th April, 2020 12:00pm
    *****************************************************
    
# A Python Project to connect Python to MYSQL Database and carry out CRUD operations

# NOTE:
You can view and download this source codes from my github page.
Follow the link 
### https://github.com/SimeonDee/python-mysql-doyin-connect-api'

In [ ]:
# Importing Libraries

In [1]:
import mysql.connector as mysql_api
from mysql.connector import Error
import pandas as pd

# Connecting to mysql database

For detailed list and explanation of all connection arguments <br />
visit ...

### https://pynative.com/python-mysql-database-connection/

In [2]:
conn_args = {'host':'localhost', 'database':'python_db', 
             'user':'root', 'password':'', 
             'autocommit':True, 'raise_on_warnings': True}

try:
    conn = mysql_api.connect(**conn_args)

    if conn.is_connected():
        db_info = conn.get_server_info()
        print('Connection established to MySQL Database Server ', db_info)
            
except Error as e:
    print('Error connecting to MySQL database: {}'.format(e))

Connection established to MySQL Database Server  5.5.5-10.1.38-MariaDB

# Running SQL statements

In [5]:
# Intsantiating a cursor obj
cursor = conn.cursor()

## Example 1: DDL

In [6]:
# Sql command DDL
sql = """CREATE TABLE IF NOT EXISTS Person(id int NOT NULL AUTO_INCREMENT,
            Fullname VARCHAR(70) NOT NULL,
            Gender VARCHAR(7),
            PRIMARY KEY(id)); """

In [7]:
# Executing the SQL statement
try:
    cursor.execute(sql)
    #conn.commit()

    print('Excuted Successfully.')

except Error as e:
    print('Error executing sql: {}'.format(e))

Excuted Successfully.

## Example 2: DML

## INSERT

#### Inserting Single Record

In [8]:
# Sql command DDL
sql1 = """INSERT IGNORE INTO Person(Fullname, Gender) VALUES('Adeyemi Adedoyin Simeon', 'Male'); """

sql2 = """INSERT IGNORE INTO Person(Fullname, Gender) VALUES(%s, %s); """
name = 'Adebayo Mary'
gender = 'Female'

input_data2 = (name, gender)

In [9]:
# Executing the SQL statement
try:
    cursor.execute(sql1)
    cursor.execute(sql2, input_data2) # Using python variables or parameter values
    #conn.commit()

    print('Insert query executed successfully.')

except Error as e:
    print('Error executing sql: \n\t{}'.format(e))

Insert query executed successfully.

#### Inserting Multiple Records

NOTE: cursor.executemany(sql, data)

In [10]:
sql3 = """INSERT IGNORE INTO Person(Fullname, Gender) VALUES(%s, %s); """

input_data3 = [('Samson Adeola', 'Male'), ('Badiru Mary', 'Female'), ('Adewale', 'Male')]

In [11]:
# Executing the SQL statement
try:
    cursor.executemany(sql3, input_data3)
    #conn.commit()

    print('Insert query executed successfully.')

except Error as e:
    print('Error executing sql: \n\t{}'.format(e))

Insert query executed successfully.

## UPDATE & DELETE
(Same Technique)

In [13]:
sql4 = """UPDATE Person 
            SET Fullname = %s, Gender = %s 
            WHERE id = %s; """

input_data4 = ('Modified Modified', 'Male', 2)

In [14]:
# Executing the SQL statement
try:
    cursor.execute(sql4, input_data4)
    #conn.commit()

    print('Update query executed successfully.')

except Error as e:
    print('Error executing sql: \n\t{}'.format(e))

Update query executed successfully.

## SELECT

In [16]:
sql5 = """SELECT * FROM Person;"""

In [17]:
try:
    cursor.execute(sql5) # Executing query
    
    # FETCHING RECORDS ...
    
    # cursor.fetchone() to fetch one record
    # cursor.fetchmany(SIZE) to fetch SIZE records .i.e. limited fetch
    
    result = cursor.fetchall() # To fetch all records

    print('Select query executed successfully.')

except Error as e:
    print('Error executing sql: \n\t{}'.format(e))

Select query executed successfully.

In [18]:
# Printing the fetched records
if result != None:
    for record in result:
        print(record)

(1, 'Adeyemi Adedoyin Simeon', 'Male')
(2, 'Modified Modified', 'Male')
(3, 'Samson Adeola', 'Male')
(4, 'Badiru Mary', 'Female')
(5, 'Adewale', 'Male')

### Converting returned results into dataframe

In [20]:
# Converting result into dataframe
data = {'SNo':[record[0] for record in result], 
        'Fullname':[record[1] for record in result], 
        'Gender':[record[2] for record in result]}

df = pd.DataFrame(data=data)
df

   SNo                 Fullname  Gender
0    1  Adeyemi Adedoyin Simeon    Male
1    2        Modified Modified    Male
2    3            Samson Adeola    Male
3    4              Badiru Mary  Female
4    5                  Adewale    Male

# Disconnecting from mysql database

In [21]:
try:
    
    if conn.is_connected():
        cursor.close
        conn.close
        print('Disconnection from MySQL Database Server {} successful.'.format(db_info))
    
    else:
        print('Connection already closed.')
        
except Error as e:
    print('Error executing sql: \n\t{}'.format(e))

Disconnection from MySQL Database Server 5.5.5-10.1.38-MariaDB successful.