
    *****************************************************
    Programmer:    Adeyemi Adedoyin Simeon
    Version:       1.0
    Contact:       adeyemi.sa1@gmail.com, +2348064555381
    Github:        https://github.com/SimeonDee
    Location:      Offa, Kwara State, Nigeria
    Date:          12th April, 2020 12:00pm
    *****************************************************
    
# A Python Project to connect Python to MYSQL Database and carry out CRUD operations

# NOTE:
You can view and download this source codes from my github page.
Follow the link 
### https://github.com/SimeonDee/python-mysql-doyin-connect-api'

In [4]:
# Importing Libraries

In [73]:
import mysql.connector as mysql_api
from mysql.connector import Error
import pandas as pd

# Connecting to mysql database

For detailed list and explanation of all connection arguments <br />
visit ...

### https://pynative.com/python-mysql-database-connection/

In [ ]:
conn_args = {'host':'localhost', 'database':'python_db', 
             'user':'root', 'password':'', 
             'autocommit':True, 'raise_on_warnings': True}

try:
    conn = mysql_api.connect(**conn_args)

    if conn.is_connected():
        db_info = conn.get_server_info()
        print('Connection established to MySQL Database Server ', db_info)
            
except Error as e:
    print('Error connecting to MySQL database: {}'.format(e))

# Running SQL statements

In [52]:
# Intsantiating a cursor obj
cursor = conn.cursor()

## Example 1: DDL

In [ ]:
# Sql command DDL
sql = """CREATE TABLE IF NOT EXISTS Person(id int NOT NULL AUTO_INCREMENT,
            Fullname VARCHAR(70) NOT NULL,
            Gender VARCHAR(7),
            PRIMARY KEY(id)); """

In [ ]:
# Executing the SQL statement
try:
    cursor.execute(sql)
    #conn.commit()

    print('Excuted Successfully.')

except Error as e:
    print('Error executing sql: {}'.format(e))

## Example 2: DML

## INSERT

#### Inserting Single Record

In [ ]:
# Sql command DDL
sql1 = """INSERT IGNORE INTO Person(Fullname, Gender) VALUES('Adeyemi Adedoyin Simeon', 'Male'); """

sql2 = """INSERT IGNORE INTO Person(Fullname, Gender) VALUES(%s, %s); """
input_data2 = ('Adebayo Mary', 'Female')

In [ ]:
# Executing the SQL statement
try:
    cursor.execute(sql1)
    cursor.execute(sql2, input_data2) # Using python variables or parameter values
    #conn.commit()

    print('Insert query executed successfully.')

except Error as e:
    print('Error executing sql: \n\t{}'.format(e))

#### Inserting Multiple Records

NOTE: cursor.executemany(sql, data)

In [ ]:
sql3 = """INSERT IGNORE INTO Person(Fullname, Gender) VALUES(%s, %s); """
input_data3 = [('Samson Adeola', 'Male'), ('Badiru Mary', 'Female'), ('Adewale', 'Male')]

In [ ]:
# Executing the SQL statement
try:
    cursor.executemany(sql3, input_data3)
    #conn.commit()

    print('Insert query executed successfully.')

except Error as e:
    print('Error executing sql: \n\t{}'.format(e))

## UPDATE & DELETE
(Same Technique)

In [ ]:
sql4 = """UPDATE Person 
            SET Fullname = %s, Gender = %s 
            WHERE id = %i; """

input_data4 = ('Modified Modified', 'Female', 2)

In [ ]:
# Executing the SQL statement
try:
    cursor.execute(sql4, input_data4)
    #conn.commit()

    print('Update query executed successfully.')

except Error as e:
    print('Error executing sql: \n\t{}'.format(e))

## SELECT

In [ ]:
sql3 = """INSERT IGNORE INTO Person(Fullname, Gender) VALUES(%s, %s); """
input_data3 = [('Samson Adeola', 'Male'), ('Badiru Mary', 'Female'), ('Adewale', 'Male')]

In [ ]:
try:
    cursor.execute(sql3, input_data3) # Executing query
    
    # FETCHING RECORDS ...
    
    # cursor.fetchone() to fetch one record
    # cursor.fetchmany(SIZE) to fetch SIZE records .i.e. limited fetch
    
    result = cursor.fetchall() # To fetch all records

    print('Select query executed successfully.')

except Error as e:
    print('Error executing sql: \n\t{}'.format(e))

In [ ]:
# Printing the fetched records
if result != None:
    for row in result:
        print(row)

### Converting returned results into dataframe

In [ ]:
# Converting result into dataframe
data = {'SNo':[x[0] for x in result], 'Fullname':[x[1] for x in result], 'Gender':[x[2] for x in result]}
df = pd.DataFrame(data=data)
df

# Disconnecting from mysql database

In [ ]:
try:
    
    if conn.is_connected():
        cursor.close
        conn.close
        print('Disconnection from MySQL Database Server {} successful.'.format(db_info))
    
    else:
        print('Connection already closed.')
        
except Error as e:
    print('Error executing sql: \n\t{}'.format(e))